@import "tailwindcss";
/* Manual theme changing with <html class="dark"> */
@custom-variant dark (&:where(.dark-mode, .dark-mode *));

/* override default theme */
@theme {
  --default-font-family: "Inter", "sans-serif";
}
@layer base {
  /* scrollbar */
  ::-webkit-scrollbar-track {
    background: #f0f0f0;
  }
  ::-webkit-scrollbar-thumb {
    background: #ccc;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #aaa;
  }
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    padding: 4px 0 4px 0;
  }
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
  .dark-mode {
    /* scrollbar */
    ::-webkit-scrollbar-track {
      background: #353333;
    }
    ::-webkit-scrollbar-thumb {
      background: #888;
    }
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
  .router-link-active,
  .router-link-exact-active {
    @apply text-sky-800 font-bold;
  }
  body,
  html {
    @apply h-full dark:bg-zinc-800 dark:text-white;
  }
}
